.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.chatEmptyState {
    display: inline-block;
    height: auto;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.chatMessageStream {
    flex-grow: 1;
    /* max-height: 1024px; */
    max-width: 1028px;
    width: 100%;
    overflow-y: inherit;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 500px;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatInput {
    position: fixed;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
    background: #f2f2f2;
    margin-bottom: 0px;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: inherit;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: flex-end;
    flex: 3;
    justify-content: flex-end;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}
.disclaimerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.disclaimer{
    flex: 20;
    font-size: 14px;
    padding: 0 10px;
}
.commentForm{
    padding: 20px 0;
}
.commentHeader{
    margin: 0;
}
.closePopup{
    margin-left: 10px;
}

.powered {
    font-weight: 700;
    padding-bottom: 15px;
}